@use './app/scss/core' as *;

:root {
  --convert-btn-bg: #{$color-accent};
  --hero-image: url(./images/layered-waves-haikei-light.svg);
}

:root[data-theme="dark"] {
  --convert-btn-bg: rgb(49, 44, 61);
  --hero-image: url(./images/layered-waves-haikei-dark.svg);
}